body {
  background-color: #7b7b7b;
}
.inner img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #ffffff;
  text-align: left;
  color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
.link-color{
  text-decoration: none;
  padding: 4px;
  color: rgb(204, 204, 204);
  background-color: rgb(0, 0, 0);
}